html {
    height: 100%;
}
body {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.main {
    height: calc(100% - 93px);
}

.course_header_container {
    width: 100%;
    padding-left: 7.5%;
    padding-top: 30px;
    background-color: #f5f5f5;
    height: 260px;
    margin-top: -18px;
}

.course_img {
    float: left;
    border: solid;
    border-width: 1px;
}

.course_header {
    float: left;
    display: inline-block;
    width: calc(100% - 250px);
    margin-left: 15px;
    text-align: justify;
}

footer {
    padding: 6px;
    text-align: center;
    background: #000000;
    color: aliceblue;
}


footer p {
    margin: 0;
}


.container-1 input#search {
    overflow: hidden;
    margin-top: -15px;
    width: 350px;
    height: 40px;
    margin-left: 66px;
    background: #f5f5f5;
    border: none;
    font-size: 10pt;
    float: left;
    color: #000000;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: #9d9d9d;
    padding: 14px 16px;
    background-color: inherit;
}

.dropdown:hover .dropbtn {
    background-color: #777;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.main {
    height: calc(100% - 93px);
    overflow: auto;
}

#navbar {
    margin-top: -31px;
    float: right;
}

.navbar-brand {
    padding-left: 25px;
}

h1 {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 95%;
    padding: inherit;
    margin-bottom: -15px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.btn {
    margin-top: 56px;
    float: right;
    margin-right: -210px;
}

.unwanted {
    visibility: hidden;
}

/*div {
    overflow: auto;
}*/

.no-of-parti {
    margin-right: -100px;
    float: right;
    margin-top: 28px;
    font-weight: bold;
}

.price {
    float: right;
    margin-right: 80px;
    font-weight: bold;
}