html {
    height: 100%;
}

body {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.main {
    height: calc(100% - 93px);
}

.back {
    padding: 15px;
    margin-bottom: 20px;
    background-color: aliceblue;
    width: 30%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.foto {
    position: relative;
    margin-left: 53px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.letters {
    padding: 15px;
    margin-bottom: 20px;
    background-color: aliceblue;
    width: 30%;
    margin: 0 auto;
}

.button-cre {
    margin-left: 640px;
}

.create-h {
    font-size: 18px;
    margin-left: 53px;
    margin-top: 3px;
}

img {
    margin-left: 500px;
    margin-top: 50px;
}

footer {
    margin-top: 5px;
    padding: 20px;
    text-align: center;
    background: #000000;
    color: aliceblue;
}


    footer p {
        margin-top: -8px;
        float: left;
    }

.contac {
    float: right;
}

.container-1 input#search {
    overflow: hidden;
    margin-top: -15px;
    width: 350px;
    height: 40px;
    margin-left: 66px;
    background: #f5f5f5;
    border: none;
    font-size: 10pt;
    float: left;
    color: #000000;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: #9d9d9d;
    padding: 14px 16px;
    background-color: inherit;
}

.dropdown:hover .dropbtn {
    background-color: #777;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.main {
    height: calc(100% - 93px);
    overflow: auto;
}

#navbar {
    margin-top: -31px;
    float: right;
}

.navbar-brand {
    padding-left: 25px;
}
