body {
    font: 15px/1.5;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

@font-face {
    font-family: Barber;
    src: url(../fonts/Candlelight.ttf);
}

h1 {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 80%; 
    margin: auto;
    overflow: hidden;
}

#navbar {
    float: right;
}

/* Showcase */

#showcase {
    min-height: 400px;
    background-image: url('../images/background1.jpeg'); 
    text-align: center;
    color: #ffffff;
}

    #showcase h1 {
        margin-top: 100px;
        font-size: 55px;
        margin-bottom: 10px;
        color: black;
    }

    #showcase p {
        font-size: 20px;
        color: black;
    }

    #showcase .highlight {
        color: black;
        font-weight: bold;
    }

/* Boxes */

#boxes {
    margin-top: 50px;
}

    #boxes .box {
        float: left;
        text-align: center;
        width: 30%;
        padding: 10px;
    }

footer {
    padding: 20px;
    margin-top: 100px;
    text-align: center;
    background: #A2948A;
    color: aliceblue;
}

/* Search */

.container-1 input#search {
    width: 450px;
    height: 40px;
    margin-left: 50px;
    background: #f5f5f5;
    border: none;
    font-size: 10pt;
    float: left;
    color: #000000;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* CATEGORIES */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 30px;
}

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: flow-root;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        margin-left: 50px;
        padding: 12px 16px;
        text-decoration: none;
        display: flow-root;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}
