@scripts = {
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/course.css")'/>
}

@main("Welcome to GetSmart",scripts){
<div class="course_header_container">
    <span class="course_img">
        <img alt="arduino" width="150" height="150" src='@routes.Assets.versioned("images/arduino.png")'/>
    </span>
    <span class="course_header">
        <h2>Arduino</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset she</p>
    </span>
</div>

<div class="middle-container">

</div>
}