
@main("Welcome to GetSmart"){
<div id="page" class="container-fluid">
    <div id="learningcontent">
        <header id="page-header" class="row">
            <div class="col-xs-12 p-a-1">
                <div class="card">
                    <div class="headerfade">
                        <div class="card-block">
                            <div class="pull-xs-left"><div class="page-context-header"><div class="page-header-headings"><h1>Java</h1></div></div></div><div class="clearfix w-100 pull-xs-left" id="page-navbar">
                                <div class="breadcrumb-nav">
                                    <nav role="navigation">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">mainpage</a></li>
                                            <li class="breadcrumb-item">My courses</li>
                                        </ol>
                                    </nav>
                                </div><div class="breadcrumb-button pull-xs-right"></div>
                            </div><div id="course-header"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
}