@(categories: List[Category])

@scripts = {
<link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/create_course.css")' />
}

@main("Welcome to GetSmart", scripts, null){
<div class="back">
    <img  src='@routes.Assets.versioned("images/arduino.png")' alt="course_image" width="300px" length="300px" class="foto">
</div>

<div class="letters">
    <form class="register-form" method="post" action="@routes.CourseController.createNewCourse">
        <h2 class="create-h">Name of the course:<input class="in" type="text" name="courseName"/></h2>
        <h2 class="create-h">Description of the course:<input class="in" type="text" name="courseDescription"/></h2>
        <h2 class="create-h">Categories:
            <select name="role">
            @if(categories != null){
            @for(category <- categories){
            <option value="@category.name">@category.name</option>
            }}
            </select>
        </h2>
        <h2 class="create-h">Price:<input class="in" type="text" name="price"/></h2>
        <h2 class="create-h">Number of meetings:<input class="in" type="text" name="numberOfMeetings"/></h2>
        <h2 class="create-h">Maximum number of participants:<input class="in" type="text" name="maxParticipant"/></h2>
        <button>Create</button>
    </form>
</div>

}