
@scripts = {
<link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/create_course.css")' />
}

@main("Welcome to GetSmart", scripts, null){
<div class="back">
    <img  src='@routes.Assets.versioned("images/arduino.png")' alt="course_image" width="300px" length="300px" class="foto">
</div>

<div class="letters">
    <h2 class="create-h">Name of the course:<input class="in" type="text"/></h2>
    <h2 class="create-h">Description of the course:<input class="in" type="text"/></h2>
    <!--<h2 class="create-h">
    <div class="dropdown">
        <button class="dropbtn">Category</button>
        <div class="dropdown-content">
        @if(categories != null){
        @for(category <- categories){
                <a href="@routes.CourseController.searchByCategory(category.id)">@category.name</a>
                }}
        </div>
    </div>
    </h2>-->
    <h2 class="create-h">Price:<input class="in" type="text"/></h2>
    <h2 class="create-h">Maximum number of participants:<input class="in" type="text"/></h2>
</div>

<div class="button-cre">
   <a href="@routes.HomeController.index()"><input class="btnn" type="button" value="CREATE"></a>
</div>
}