<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device.width">
    <meta name="description" content="Exchange your knowledge">
    <title>Get Smart | Welcome</title>
    
</head>

<body>
    <header>

        <div class="container">
            <!-- this class will CONTAIN our options in place -->

            <div id="branding">
                <!-- main title of the page in the header -->
                <h1><span class="highlight">Get</span> Smart</h1>
            </div>

            <!-- search -->

            <div class="box">
                <div class="container-1">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input type="search" id="search" placeholder="Search..." />
                </div>
            </div>

            <!-- end of search -->

            <nav>
                <ul>
                    <!-- ul = unordered list -->
                    <div class="box"></div>
                    <li class="current"><a href="index.html">Home</a></li> <!-- li = list items; Home links us to main page, which is index.html -->
                    <li><a href="#">About</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </nav>

        </div>

    </header>

    <section id="showcase">

        <div class="container">
            <h1><span class="highlight">Exchange</span> your Knowledge</h1>
            <p><span class="highlight">those who are mad for wisdom.</span></p>
        </div>

    </section>

    <section id="cat">

        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Categories</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#">Science</a>
                <a href="#">Humanities</a>
                <a href="#">Arts</a>
            </div>
        </div>

    </section>

    <section id="boxes">

        <div class="container">

            <div class="box">
                <img src="img/newton.jpg" width="150" height="150">
                <h3>Classical Mechanics</h3>
                <p>
                    Learn the basic laws ruling motion as we know it in our
                    everyday life
                </p>
            </div>

            <div class="box">
                <img src="img/oil.jpg" width="150" height="150">
                <h3>Perspective in Oil Painting</h3>
                <p>
                    Learn to easily create perspective
                    sensations in your oil paintings
                </p>
            </div>

            <div class="box">
                <img src="img/arduino.png" width="150" height="150">
                <h3>Arduino</h3>
                <p>Arduino basic rules and commands. How to use.</p>
            </div>

        </div>

    </section>

    <footer>

        <p>Get Smart</p> 
        <p>Copyright &copy; 2017</p>

    </footer>


</body>

</html>