@(courses: List[Course])

@scripts = {
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
}


@main("Welcome to GetSmart", scripts) {



    @if(flash.containsKey("logged-in")) {
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @flash.get("logged-in")
        </div>
    }
    @if(flash.containsKey("password-incorect")) {
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @flash.get("password-incorect")
        </div>
    }
    @if(flash.containsKey("no-user")) {
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @flash.get("no-user")
        </div>
    }
    @if(flash.containsKey("logged-out")) {
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @flash.get("logged-out")
        </div>
    }


    <section id="showcase">
        <div class="container">
            <h1><span class="highlight">Exchange</span> your Knowledge</h1>
            <p><span class="highlight">those who are mad for wisdom.</span></p>
        </div>
    </section>

   <!-- <section id="cat">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Categories</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#">Science</a>
                <a href="#">Humanities</a>
                <a href="#">Arts</a>
            </div>
        </div>
    </section> -->

    <section id="boxes">
        <div class="container">
            @for(course <- courses){
                <div class="box">
                    <img width="150" height="150" src='@routes.Assets.versioned("images/arduino.png")'/>
                    <a href="@routes.CourseController.index"><h3>@course.name</h3></a>
                        <p>
                            @course.description
                        </p>
                    <a href="@routes.CourseController.index(course.id)">
                        <img src="../../public/images/newton.jpg" width="150" height="150"/>
                    </a>
                    <h3>@course.name</h3>
                    <p>
                        @course.description
                    </p>
                        @course.price
                </div>
            }
        </div>
    </section>
}
