@()

@main("Welcome to GetSmart") {

    <section id="showcase">
        <div class="container">
            <h1><span class="highlight">Exchange</span> your Knowledge</h1>
            <p><span class="highlight">those who are mad for wisdom.</span></p>
        </div>
    </section>

    <section id="cat">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Categories</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#">Science</a>
                <a href="#">Humanities</a>
                <a href="#">Arts</a>
            </div>
        </div>
    </section>

    <section id="boxes">
        <div class="container">
            <div class="box">
                <img src="../../public/images/newton.jpg" width="150" height="150">
                <h3>Classical Mechanics</h3>
                <p>
                    Learn the basic laws ruling motion as we know it in our
                    everyday life
                </p>
            </div>

            <div class="box">
                <img src="../../public/images/oil.jpg" width="150" height="150">
                <h3>Perspective in Oil Painting</h3>
                <p>
                    Learn to easily create perspective
                    sensations in your oil paintings
                </p>
            </div>

            <div class="box">
                <img src="../../public/images/arduino.png" width="150" height="150">
                <h3>Arduino</h3>
                <p>Arduino basic rules and commands. How to use.</p>
            </div>
        </div>
    </section>

    <footer>
        <p>Get Smart</p>
        <p>Copyright &copy; 2017</p>
    </footer>
}
