@scripts = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/StyleSheet.css")">
}

@main("Welcome to GetSmart", null, scripts) {

    <div class="login-page">
        <div class="form">
            <form class="register-form" method="post" action="@routes.LoginController.register">
                <input type="text" placeholder="username" name="registerUsername" />
                <input type="password" placeholder="password" name="registerPassword"/>
                <input type="email" placeholder="email id" name="registerEmail"/>
                <button>Create</button>
                <p class="message">Already Registered? <a href="#">Log in</a>
                </p>
            </form>

            <form class="login-form" method="post" action="@routes.LoginController.login">
                <h2>Student/Teacher</h2>
                <input type="text" placeholder="user name" name="loginUsername"/>
                <input type="password" placeholder="password"  name="loginPassword"/>
                <button>login</button>
                <p class="message">Not Registered? <a href="#">Register</a>
                </p>
            </form>
        </div>
    </div>
}

