@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String, scripts: Html = Html(""), categories: List[Category])(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device.width">
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/bootstrap.min.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/bootstrap-theme.min.css")'>
 
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>

        <script type="text/javascript" src='@routes.Assets.versioned("javascripts/jquery-3.2.1.min.js")'></script>
        <script type="text/javascript" src='@routes.Assets.versioned("javascripts/bootstrap.min.js")'></script>
        <script type="text/javascript" src='@routes.Assets.versioned("javascripts/main.js")'></script>
        @scripts

    </head>

    <body>

        <nav class="navbar navbar-default navbar-inverse navbar-static-top top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.HomeController.index()">Get Smart</a>
                </div>
                
                @if(!request.uri.equals("/login")){
                    <ul>
                        <li class="box">

                            <div class="container-1">
                                <span class="icon"><i class="fa fa-search"></i></span>
                                @helper.form(routes.CourseController.search()){
                                    <input type="search" id="search" name="search" placeholder="Search..." />
                                }
                            </div>

                        </li>
                    </ul>
                }

                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="@routes.HomeController.index()">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">
                                    Category
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                    @if(categories != null){
                                    @for(category <- categories){
                                    <a href="@routes.CourseController.searchByCategory(category.id)">@category.name</a>
                                    }}
                                </div>
                            </div>
                        </li>
                        <li><a href="#contact">Contact</a></li>
                        @if(session.get("username")){
                        <li><a href="@routes.LoginController.logout()">Logout</a></li>

                        } else {
                        <li><a href="@routes.LoginController.index()">Login</a></li>
                        }
                    </ul>
                </div><!--/.nav-collapse -->

            </div>
        </nav>



        @* And here's where we render the `Html` object containing
         * the page content. *@
        <div class="main">
        @content
        </div>
        <footer>
            <p>&copy; Team GetSmart 2017</p>
        </footer>
    </body>
</html>
