@(user: User, account: Account, role: Role)

@scripts = {
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/profile.css")'>
}

@main("Welcome to GetSmart", scripts, null){

  <div class="back">
    <img src='@routes.Assets.versioned("images/profile.png")' alt="profile" width="150" length="150" class="foto">
  </div>

  <div class="letters">
    <div class="edit"><button class="edit-btn">edit</button></div>
    <h2 class="profile-h">Name: <p>@user.firstName</p><input class="profile-input" type="text"/></h2>
    <h2 class="profile-h">Surname: <p>@user.lastName</p><input class="profile-input" type="text" /></h2>
    <h2 class="profile-h">Role: <p>@role.role_name</p><input class="profile-input" type="text" /></h2>
    <h2 class="profile-h">Telephone: <p>000-009-77</p><input class="profile-input" type="text" /></h2>
    <h2 class="profile-h">e-mail: <p>@account.email</p><input class="profile-input" type="text" /></h2>
    <h2 class="profile-h">Birthday: <p>@user.birthDate</p><input class="profile-input" type="text" /></h2>
  </div>
<script type="text/javascript" src='@routes.Assets.versioned("javascripts/input.js")'></script>

}